.card {
  background: #f9fafd;
  border-radius: 20px;
  padding: 25px;
  max-width: 280px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover {
  background-color: #FFF3E0;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.card p {
  font-size: 16px;
  color: #555;
  margin-bottom: 15px;
}

.icono {
  font-size: 70px;
  margin-bottom: 15px;
  transition: transform 0.3s;
}

.card:hover .icono {
  transform: scale(1.2);
}
