@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: #E3F2FD;
  color: #333;
}

audio {
  display: none;
}

.particula {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: #ff6600;
  pointer-events: none;
  user-select: none;
}

